#header {
  color: black;
  height: 100px;
  width: 90%;
  text-align: center;
}

#result {
  text-align: center;
}

h1, h2, h3, p {
  font-family: "Verdana";
  color: black;
}

label {
  padding-left: 5%;
}

.indent {
  padding-left: 5%;
}

#content {
  max-width: 800px;
  margin: 0 20px 0 20px;
}

.text_input {
  width: 90%;
  margin: auto;
  display: block;
}

input {
  height: 50px;
}

#url_input {
  height: 200px;
}

#button_div {
  width: 90%;
  position: absolute;
}

.detect_button {
  width: 90%;
  height:67px;
  margin: auto;
  display: block;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}